/RecipesSystem/RecipesSystem/.vs
/RecipesSystem/RecipesSystem/RecipesSystem/obj
/RecipesSystem/RecipesSystem/RecipesSystem/bin
/RecipesSystem/RecipesSystem/RecipesSystem.Client/bin
/RecipesSystem/RecipesSystem/RecipesSystem.Client/obj
/RecipesSystem/RecipesSystem/RecipesSystem.Console/bin
/RecipesSystem/RecipesSystem/RecipesSystem.Console/obj
